RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l


RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
RewriteRule ^[a-zA-Z0-9]+.php$ index.php?url=$1 [QSA,L]
RewriteRule !(\.gif|\.png|\.jpe?g|\.css|\.js|\.php)$ index.php?url=$1 [QSA,L]